<div class="header" style="position: relative; top: 0px" id="header">
  <div class="wrapper">
    <div class="headerbox container row">
      <div class="logo container">
        <a class="container" href=""
          ><img class="imagen" src="assets/Logo.png" alt="LogoCanchita"
        /></a>
      </div>
      <div class="navopc container">
        <div>
          <a class="container sport_opc" href="/Deportes">Deportes </a>
          <div id="menu_divd" style="display: block">
            <a class="sport_category" href="/Deportes">Futbol </a>
            <a class="sport_category" href="/Deportes">Futbol Americano </a>
            <a class="sport_category" href="/Deportes">Baloncesto </a>
            <a class="sport_category" href="/Deportes">Motor </a>
            <a class="sport_category" href="/Deportes">Tenis </a>
            <a class="sport_category" href="/Deportes">Boxeo </a>
          </div>
        </div>
        <div>
          <a class="container sport_opc" href="/Esports">Esports</a>
          <div id="menu_dive" style="display: block">
            <a class="sport_category" href="/Esports">MOBA </a>
            <a class="sport_category" href="/Esports">Shooter </a>
            <a class="sport_category" href="/Esports">Estrategia </a>
            <a class="sport_category" href="/Esports">Cartas </a>
          </div>
        </div>
        <div class="search_div" id="search_div">
          <a class="container search_opc" style="cursor: pointer">Buscar</a>
          <div
            class="search_container_box"
            id="search_container_box"
            style="top: -200px"
          >
            <input type="text" class="search_input" placeholder="Buscar..." />
          </div>
          <ul class="searcher" style="display: none"></ul>
          <div
            class="search_container"
            id="search_container"
            style="display: none"
          ></div>
        </div>
        <div>
          <a class="container sport_opc" href="">
            <div class="img-user container">
              <img src="assets/anonimo.png" alt="ImgUsuario" />
            </div>
          </a>
          <div id="menu_divp" style="display: block">
            <a class="sport_category" href="./InicioSesion">Inicio de Sesión</a>
            <a class="sport_category" href="/Registro">Registro</a>
            <a class="sport_category" href="/Perfil">Usuario</a>
            <a class="sport_category" href="/Logout">Cerrar Sesión</a>
            <a class="sport_category" href="/CMS">CMS</a>
            <a class="sport_category" href="/Validacion">Validar CMS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
