<div class="footer" id="footer" style="margin-top: 0px">
  <div class="wrapper">
    <div class="footer-box container row">
      <div class="left container">
        <a href="">
          <img src="assets/Logo.png" alt="LogoCanchita" />
        </a>
        <p>
          Esta Página Web fue desarrollada por: <br />
          <br />
          Luis Angel Villanueva Sánchez <br />
          luis.villanueva.1029@gmail.com <br />
          <br />
          Jesus Ángel Paredes Sauceda <br />
          angel.2899pasj@gmail.com
        </p>
      </div>
      <div class="right container">
        <h2>Categorías</h2>
        <div class="container">
          <div>
            <h3><a href=""> Deportes</a></h3>
            <h4><a href=""> Futbol</a></h4>
            <h4><a href=""> Futbol Americano</a></h4>
            <h4><a href=""> Baloncesto</a></h4>
            <h4><a href=""> Motor</a></h4>
            <h4><a href=""> Tenis</a></h4>
            <h4><a href=""> Boxeo</a></h4>
          </div>
          <div>
            <h3><a href=""> Esports</a></h3>
            <h4><a href=""> Moba</a></h4>
            <h4><a href=""> Shooter</a></h4>
            <h4><a href=""> Estretegia</a></h4>
            <h4><a href=""> Cartas</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
