<app-header></app-header>

<body>
  <div class="Perfil" style="position: relative; top: 0px" id="content">
    <div class="wrapper">
      <div class="perfil-zone container">
        <div class="perfil-opciones container">
          <div class="img-perfil container row">
            <img src="{{usuarioLogeadoP.avatar}}" alt="PerfilFoto" />
          </div>
          <div class="perfil-datos container row">
            <h2>{{usuarioLogeadoP.username}}</h2>
            <h2>{{usuarioLogeadoP.nombre}} {{usuarioLogeadoP.apellido}}</h2>
          </div>
          <div class="perfil-config container row">
            <a href="">Cambiar Nombre de Usuario</a>
            <a href="">Cambiar Correo</a>
            <a href="">Cambiar Contraseña</a>
          </div>
        </div>
        <div class="noticias-marcadas container">
          <section class="Seccion-Titulo container row">
            Noticias Marcadas
          </section>
          <div class="perfil-marcadas container row">
            <div class="noticia-box container">
              <a href="">
                <div class="img-box container">
                  <img src="assets/NoticiaDWM.jpg" alt="" />
                </div>
                <h2>Hola Pana</h2>
                <p>Esto es parte de la descripción al parecer</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
