<app-header></app-header>

<body>
  <div style="position: relative; top: 0px" id="content">
    <a href="">
      <div class="principal-nota container row">
        <div class="noticia-principal container">
          <div class="titulo">{{ NoticiasEsports[0].titulo }}</div>
          <div class="desc">
            {{ NoticiasEsports[0].descripcion }}
          </div>
        </div>
      </div>
    </a>
    <div class="wrapper">
      <div class="row">
        <section class="Seccion-Titulo container">Deportes</section>
      </div>
      <div class="Deportes-Seccion container row">
        <a
          class="left container"
          style="background: url({{NoticiasDeportes[0].imagen}}); background-size: cover;"
        >
          <div class="noticia-datos container">
            <div class="titulo">{{ NoticiasDeportes[0].titulo }}</div>
            <div class="desc">{{ NoticiasDeportes[0].descripcion }}</div>
          </div>
        </a>
        <div class="right container">
          <ng-container *ngFor="let Noticia of NoticiasDeportes; let i = index">
            <a class="noticia-pequeña container" *ngIf="i < 5 && i > 0" href="">
              <h1>{{ Noticia.titulo }}</h1>
              <p>{{ Noticia.descripcion }}</p>
            </a>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <section class="Seccion-Titulo container">Esports</section>
      </div>
      <div class="Esports-Seccion container row">
        <div class="left container">
          <a
            class="noticia-pequeña container"
            *ngFor="let noticia of NoticiasEsports"
            href=""
          >
            <h1>{{ noticia.titulo }}</h1>
            <p>{{ noticia.descripcion }}</p>
          </a>
        </div>
        <a
          class="right container"
          style="background: url({{NoticiasEsports[1].imagen}}); background-size: cover;"
        >
          <div class="noticia-datos container">
            <div class="titulo">{{ NoticiasEsports[1].titulo }}</div>
            <div class="desc">{{ NoticiasEsports[1].descripcion }}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>
