.inicio-sesion {
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.inicio-sesion > .ilustracion-left {
  width: 48%;
  justify-content: center;
}

.inicio-sesion > .datos {
  flex-direction: column;
  width: 48%;
  align-items: center;
}

.inicio-sesion > .datos > form {
  flex-direction: column;
  width: 70%;
}

.inicio-sesion > .datos > h1 {
  font-family: hwt-slab-columbian,serif;
  font-size: 300%;
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 50px;
}

.inicio-sesion > .datos > h2 > a {
  color: #330a0a;
}

.inicio-sesion > .datos > h2 {
  color: #330a0a;
  margin-top: 50px;
}


.inicio-sesion > .datos >form >label{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;

}

input[type=text]{
  background-color: transparent;
  height: 30px;
  border: none;
  border-bottom: 2px solid #330a0a;
}
input[type=password]{
  background-color: transparent;
  margin-bottom: 50px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #330a0a;
}

input[type=submit]{
  background-color: #330a0a;
  height: 50px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}

input[type = submit]:hover{
  background-color: #701513;
  transition-duration: 0.2s;
}

.ajaxresponse{
  color:red;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
