<app-header></app-header>
<body>
  <div
    class="inicio-sesion container row"
    style="position: relative; top: 0px"
    id="content"
  >
    <div class="ilustracion-left container">
      <img src="assets/LoginMedium.png" alt="ImagenInicioSesión" />
    </div>
    <div class="datos container">
      <h1>INICIO DE SESIÓN</h1>
      <div class="container">
        <label>Nombre de Usuario: </label>
        <input type="text" [(ngModel)] = "usuario"/>
        <label for="input-contra">Contraseña: </label>
        <input type="password" [(ngModel)]="password" />
        <input type="submit" value="Iniciar Sesión" (click)="setUsuarioLogeado()"/>
        <p id="ajaxresponse" class="ajaxresponse" style="display: none"></p>
      </div>
      <h2><a href="">Registrarse</a></h2>
    </div>
  </div>
</body>
<app-footer></app-footer>
