<app-header></app-header>

<body>
  <div class="registro container row" id="content">
    <div class="ilustracion-left container">
      <img src="assets/nuguriRegistro.jpg" alt="ImgLeft" />
    </div>
    <div class="registro-datos container">
      <h1>REGISTRO</h1>
      <form class="container" id="formulario">
        <label for="input-correo-r">Correo Electrónico: </label>
        <input
          type="email"
          name="input-correo-r"
          class="input-correo-r"
          required
        />
        <label for="input-usuario">Nombre de Usuario: </label>
        <input
          type="text"
          name="input-usuario-r"
          class="input-usuario-r"
          required
        />
        <label for="input-password-r">Contraseña: </label>
        <input
          type="password"
          name="input-password-r"
          id="input-password-r"
          required
        />
        <label for="rs-twitter">Twitter: </label>
        <input type="text" name="rs-twitter" class="rs-twitter" />
        <label for="rs-facebook">Facebook: </label>
        <input type="text" name="rs-facebook" class="rs-facebook" />
        <img
          class="registro-img-user container"
          src="assets/fakerUserImage.jpg"
          alt="userImagen"
        />
        <input
          type="file"
          name="image"
          id="image"
          accept="image/png, image/jpeg, image/jpg"
          required
        />
        <input type="submit" id="btn_reg" value="Registrarse" />
      </form>
      <div id="ajaxresponse"></div>
      <br />
      <div id="redirect" style="display: none">
        <a class="redirect" href="InicioSesion.jsp"> Iniciar sesión </a>
      </div>
      <br />
      <br />
    </div>
    <div class="ilustracion-right container">
      <img src="assets/MbappeRegistro.jpg" alt="MbappeRegistro" />
    </div>
  </div>
</body>

<app-footer></app-footer>
